body{
 margin: 0px;
 padding: 0px;
 background-color: #e6d6c4;
 font-family: 'Red Hat Display', sans-serif; 
}
/* Header e seus elementos */
.header_dash{ 
display: flex;
border-bottom: solid 2px black;
height:85px;
background-color: #753a22;
}

.container_dash{
 display: flex;
 height: 85px;
 width: 95%;
 margin: auto;
 justify-content: space-between;
 align-items: center;
 
}

#logo_dash{
  height: 40px;
  width: auto;
  margin-bottom: 15%;
  margin: auto;
}

#user_icon{
 height: 40px;
 background-color: whitesmoke;
}

#menu_icon{
 height: 60px;   
}




/* Secção 1 da pagina (Gráficos e "monitores de desempenho") */

#section1_dash{
height: 65vh;
width: 90%;
display: flex;
margin: auto;
margin-top: 2%;
align-items: center;


}

.paidosg{
display: flex;
flex-direction: column;
height: 100%;
width: 50%;

}

#div_grafico{
 
  height: 50%;
  width: 90%; 
  border: solid 2px black;
  border-radius: 18px;
  background-color: #ffff;
   
}



.Grafico_Principal{
 height: 50%;
 width: 90%; 
 border: solid 2px black;
 border-radius: 18px;
 background-color: #ffff;
 margin-top: 10px;

}

.Situação_Grafico{
  height: 11%;
  width: 250px;
  background-color: #f9f7f7;
  margin-top: 10px;
  border:solid 1px black;
  border-radius: 30px;
  padding: 30px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Situação_Grafico2{
  height: 11%;
  width: 250px;
  background-color: #f9f7f7;
  margin-top: 10px;
  border:solid 1px black;
  border-radius: 30px;
  padding: 30px;
  margin-left: 15%;
  display: flex;
  align-items: center;
}


#div_pai_dash{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

#barra_dash{
height: 50px;
display: flex;
margin-top: 1%;
justify-content: space-between;
width:90%;
margin: auto;
}

.select_dash{
margin-top: 1.5%;  
height: 35px;
border-radius: 20px;
}





/* Botões do header */

#menuUser{
 display: none;
 position: fixed;
 z-index: 9999;
 right: 0%;
 top: 15%;
 width: 250px;
 height: 300px;
 background-color: black;

}

#menuUser .content_user{

  background-color: #f9f7f7;
  margin: 15% auto;
  padding: 25px;
  border-radius: 5px;
  width: 70%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#Funcionalidade{
display: none;
position: fixed;
z-index: 9999;
left: 0%;
top: 14%;
width: 250px;
height: 900px;
background-color: black;

}

#Funcionalidade .content_func{

background-color: #f9f7f7;
margin: 15% auto;
padding: 25px;
border-radius: 5px;
width: 70%;
height: auto;

opacity: 90%;

display: flex;
flex-direction: column;
align-items: center;

border:solid 2px radius;
border-radius: 240px;

}


/* Titulo Relatorio e Select */

#Titulo_h2{
  height: 100px;
  width: 90%;
  display: flex;
justify-content: space-between;
margin: auto;
border-bottom:solid 0.1px black;
align-items: center;
font-size: 24px;




/* secção 2 da pagina (relatório) */


}

#section2_dash{
height: 30vh;
width: 90%;
display: flex;
margin: auto;
margin-top: 4%;
justify-content: space-around;
}

#RelatorioAlertas{
  background-color: #f9f7f7;
  height: 175px;
  width: 325px;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qtd_alertas{
margin-left: 15px;

}

.relatorio{
  height: 150px;
  width: 325px;
  border: 1px solid black;
  border-radius: 20px;
  background-color:#f9f7f7;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

 }
 
 .relatorio p{
  font-weight: bolder
 }

