body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Header*/

.header {
    background-color: #E5E5E5;
    color: #753a22;
    border-bottom: 3px solid #361E0B;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navbar {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #361E0B;
}

a .now {
    font-weight: bold;
}

.now {
    height: 15px;
    font-weight: bold;
}
/* --------------------------- */
 
/* Banner */
.banner {
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    height: 80vh;
    padding: 15vh 5vh;
}

.banner .container {
    height: 500px;
    display: flex;
    color: white;
    align-items:center;
}

.banner .container.simulador{
    justify-content: flex-end;
}

/* -------------------------------- */

.card{
    background-color: #ffffff;
    color:#753a22;
    border: 2px solid #753a22;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;    
}

.card h1 {
    margin-left: 30px;
    align-self: flex-start;
}

.card h4{
    margin: 5px;
    margin-left: 40px;
    color: #000000;
    font-weight: lighter;
    font-size: large;
    align-self: flex-start;
}

input {
    margin-top: 8px;
    outline: 2px solid #753a22;
    background-color: #E5E5E5;
    border: 0;
    padding: 8px;
    border-radius: 20px;
    width: 80%;
    font-size: larger;
}

button {
    margin-top: 60px;
    background-color: #753a22;
    color: white;
    width: 50%;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 10px;
    align-self: center;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    cursor:pointer;
}

button:hover{
    background-color: #27850b;
    cursor: pointer;
}

.resultado {
    font-size: 15px;
}

/* Footer */

.footer {
    background-color: #f7f3f3;
    color: #000000;
}

.footer .container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

/* Output javascrpt*/

.card .output_javascript {
    display: flex;
    flex-direction: column;
}

.output_javascript {
    margin: 0;
    padding: 0;
}

.output_resultado {
    display: flex;
    flex-direction: column;
}

.output_resultado p {
    margin: 20px;
    font-weight: 700;
}

.output_perda {
    color: #D10007;
    font-weight: bold;
    border-bottom: 1px solid;
}

.output_producao {
    color: #361E0B;
    font-weight: bold;
    border-bottom: 1px solid;
}

.output_ganho {
    color:#361E0B;
    font-weight: bold;
    border-bottom: 1px solid;
}

.output_estimativa {
    color:  #2C9A0C;
    font-weight: bold;
    border-bottom: 1px solid;
}

.output_reducao {
    color: #2C9A0C;
    font-weight: bold;
    border-bottom: 1px solid;
}